<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item">By Rating</a>
                <a href="" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">By Product</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Resources
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="resources-link">
                <a href="" class="dropdown-item">Junior Cert</a>
                <a href="" class="dropdown-item">Leaving Cert</a>
                <a href="" class="dropdown-item">LCA</a>
                <a href="" class="dropdown-item">PLC</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Exams
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="exams-link">
                <a href="" class="dropdown-item">Coursework</a>
                <a href="" class="dropdown-item">Exam Prep</a>
                <a href="" class="dropdown-item">Practical Assessment</a>
                <a href="" class="dropdown-item">Overall Exam Prep</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="special-link">
                <a href="" class="dropdown-item">JC/LC Products</a>
                <a href="" class="dropdown-item">LCA/PLC</a>
                <a href="" class="dropdown-item">Mix Packages</a>
                <a href="" class="dropdown-item">Comming Soon</a>
            </div>
        </li>
    </ul>
</div>
